<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projectRR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loctionFirst</display-name>
    <servlet-name>loctionFirst</servlet-name>
    <servlet-class>com.q10viking.redirect.loctionFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loctionFirst</servlet-name>
    <url-pattern>/lf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>locationSecond</display-name>
    <servlet-name>locationSecond</servlet-name>
    <servlet-class>com.q10viking.redirect.locationSecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locationSecond</servlet-name>
    <url-pattern>/ls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadServlet</display-name>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>com.q10viking.downloadServlet.downloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeServlet</display-name>
    <servlet-name>codeServlet</servlet-name>
    <servlet-class>com.q10viking.codeServlet.codeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeServlet</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestServlet</display-name>
    <servlet-name>requestServlet</servlet-name>
    <servlet-class>com.q10viking.requestServlet.requestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestHeader</display-name>
    <servlet-name>requestHeader</servlet-name>
    <servlet-class>com.q10viking.requestServlet.requestHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestHeader</servlet-name>
    <url-pattern>/rh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>parameterServlet</display-name>
    <servlet-name>parameterServlet</servlet-name>
    <servlet-class>com.q10viking.parameterServlet.parameterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>parameterServlet</servlet-name>
    <url-pattern>/param</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>formServlet</display-name>
    <servlet-name>formServlet</servlet-name>
    <servlet-class>com.q10viking.formServlet.formServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.q10viking.downloadServlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/ts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disOne</display-name>
    <servlet-name>disOne</servlet-name>
    <servlet-class>com.q10viking.dispatcher.disOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disOne</servlet-name>
    <url-pattern>/disone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disSecond</display-name>
    <servlet-name>disSecond</servlet-name>
    <servlet-class>com.q10viking.dispatcher.disSecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disSecond</servlet-name>
    <url-pattern>/disSecond</url-pattern>
  </servlet-mapping>
</web-app>